extends layout

block content
	.jumbotron
		h4 Project Overview
		hr.my-4
		p This project provides a simple template for Node.js with Grunt task runner. The project includes Pug for templating and Sass for styling.

